body {
  background-color: #eeeeee;
}

.pageContainer {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 100px 70px 50px;
  margin-top: 30px;
  box-shadow: 0 0 0 0, 0 6px 12px rgba(34,34,34,0.1);
}

.padding-med {
  padding: 20px 15px 10px;
}

.colorBar {
  background-color: #303030;
  height: 60px;
}

.bioImage img {
  height: 100%;
  width: 100%;
  max-width: 355px;
  padding: 40px;
}